h1 {
  color: azure;
}
#list-main {
  #list-sub {
    color: forestgreen;
  }
}

li {
  position: relative;
  list-style: none;
  float: left;
  margin-right: 16px;
  &:hover {
    ul {
      display: block;
    }
  }
  ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    padding: 0;
  }
  li {
    float: none;
    margin: 0;
  }
}

.flex {
  display: flex;
  justify-content: center;
}
